body 
{
	background-image: url('../RECURSOS/images/Fondo1.jpg');
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0px 0px 185px 0px;
}
td {
	font-size: 10px;
}
.navon {
	background-repeat: no-repeat;
	background-position: left;
	height: 23px;
	width: 152px;
	text-indent: 25px;
}


.bgmain {
	background-image: url('http://localhost:63728/Recursos/images/main_bg2.gif');
	background-repeat: repeat-x;
	height: 287px;
}
.loginbg {
	background-image: url('http://localhost:63728/Recursos/images/header_01.gif');
	background-repeat: no-repeat;
	height: 40px;
	width: 368px;
}
.navt1 {
	
	height: 41px;
	width: 131px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding-bottom:7px;
}
a:link {
	color: #000000;
	text-decoration: none;
}

.navt2 {
	
	height: 41px;
	width: 129px;
	color: white;
	text-align: center;
	padding-bottom:7px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}
.crbg {
	
	height: 22px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-weight: bold;
	color: white;
}

.navt3 {
	
	height: 41px;
	width: 129px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding-bottom:7px;
}
.navt4 {

	width: 131px;
	height: 41px;
		font-size: 12px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding-bottom:7px;
}
.navt5 {

	width: 130px;
	height: 41px;
		font-size: 12px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding-bottom:7px;
}
.navt6 {

	height: 41px;
	width: 127px;
		font-size: 12px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding-bottom:7px;
}
.mcbg {
	
	background-repeat: repeat-y;
	width: 779px;
	padding: 0px;
}
.navoff {

	text-indent: 20px;
	height: 23px;
	width: 152px;
	background-repeat: no-repeat;
	font-weight: bold;
}
.leftcolheader {
	
	background-repeat: no-repeat;
	height: 26px;
	width: 151px;
	color: white;
	text-indent: 20px;
	padding-top: 6px;
}
.lcolbg {

	background-repeat: repeat-y;
	width: 152px;
	padding-top: 3px;
}
.mcheader {

	background-repeat: no-repeat;
	height: 21px;
	width: 368px;
	text-indent: 20px;
	color: white;
	font-weight: bold;
}
.rightboxheader {

	background-repeat: no-repeat;
	height: 22px;
	width: 215px;
	text-indent: 20px;
	padding-top: 1px;
	color: white;
}
.rightcolboxbg {

	background-repeat: repeat-y;
	width: 215px;
	padding-top: 4px;
}

.maincbbg {
	
	background-repeat: repeat-y;
	width: 368px;
}

i

input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-left-style: none;
	text-indent: 3px;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	}
k {
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
